<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CS University - Content Creator</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->

		<script type="text/javascript" src="js/angular.min.js"></script>

	</head>
	<body>
		<div id="page-wrapper">
			<!-- Header Wrapper -->
			<div id="header-wrapper">

				<!-- Header -->
				<div id="header" class="container">

					<!-- Logo -->
					<h1><a href="#" id="logo">PostgreSQL University</a></h1>

					<!-- Nav -->

					<nav id="nav">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Training Catalog</a></li>
							<li>
								<a href="#">Signup</a>
								<ul>
									<li><a href="#">Create an account</a></li>
									<li><a href="#">Signup for a course</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Teach</a>
								<ul>
									<li><a href="#">Benefits of Authoring</a></li>
									<li><a href="#">Author Courses as a Company</a></li>
									<li><a href="#">Author Courses as an Individual</a></li>
								</ul>
							</li>
							<li><a href="#">Login</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</nav>
					<!-- /Nav -->

				</div>
				<!-- /Header -->
			</div>
			<!-- /Header Wrapper -->

			<!-- Content Creator -->
			<div class="container" style="margin-top:3em;" ng-app="contCreator">

				<!-- Main -->
				<div class="row">
					<div id="content" class="12u" ng-controller="basicCourseCtrl">
            <h2>Content Creator</h2>
            <form novalidate>
              <input class="ccreator h2" type="text" ng-model="course.title"><br/>
              <input class="ccreator h3" type="text" ng-model="course.subtitle"><br/>
              <h3>Description</h3>
              <textarea class="ccreator" id="textDesc" name="" cols="30" rows="10" ng-model="course.description"></textarea>
              <h3>Important Files</i></h3>
              <p>Introductory Document <i class="fa fa-upload"></i></p>
              <p>Thumb image 300x300 <i class="fa fa-upload"></i></p>
              <h3>Topics</h3>
              <div ng-repeat="topic in topics">
                <p>{{ topic.title }} <i class="fa fa-pencil"></i></p>
              </div>
              <span><a href="#">Add another topic</a></span>
              <p>Final Test <i class="fa fa-pencil"></i></p>
              <button class="button alt2">Save</button>
            </form>

            <!--
            <h2 contentEditable="true">{{ course.title }} </h2>
            <h3 contentEditable="true">{{ course.subtitle }} </h3>

						<h3>Description </h3>
            <p contentEditable="true" >{{ course.description }}</p>

						<h3>Important Files</i></h3>
						<p>Introductory Document <i class="fa fa-upload"></i></p>
						<p>Thumb image 300x300 <i class="fa fa-upload"></i></p>
						<h3>Topics</h3>
            <div ng-repeat="topic in topics">
              <p>{{ topic.title }} <i class="fa fa-pencil"></i></p>
            </div>
						<span><a href="#">Add another topic</a></span>
						<p>Final Test <i class="fa fa-pencil"></i></p>
						<button class="button alt2">Save</button>
            -->
					</div>
				</div>
			</div>


			<!-- Copyright -->
			<div id="copyright">
				&copy; 2016 Consistent State. All rights reserved.
			</div>
			<!-- /Copyright -->


		</div>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
