i.fa, h2[contentEditable], h3[contentEditable] {
  cursor: pointer;
}

.editing {
  background-color: #808080;
}

h1,h2,h3,h4,h5 {
  padding-left: 10px;
}

h2 {
  margin-bottom: 10px;
  padding-top: 10px;
}

input.ccreator.h2 {
  font-size: 1.5em;
  padding-left: 16px;
}

input.ccreator.h3 {
  font-size: 1.2em;
  padding-left: 16px;
}

textarea.ccreator {
  padding-left: 16px;
}
