@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,900");
@import url("font-awesome.min.css");

/*
	Iconic by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
/
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1650px;
		min-width: 1320px;
	}

	.container.\37 5\25 {
		width: 990px;
	}

	.container.\35 0\25 {
		width: 660px;
	}

	.container.\32 5\25 {
		width: 330px;
	}

	.container {
		width: 1320px;
	}

	@media screen and (max-width: 1680px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1425px;
			min-width: 1140px;
		}

		.container.\37 5\25 {
			width: 855px;
		}

		.container.\35 0\25 {
			width: 570px;
		}

		.container.\32 5\25 {
			width: 285px;
		}

		.container {
			width: 1140px;
		}

	}

	@media screen and (max-width: 1280px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1200px;
			min-width: 960px;
		}

		.container.\37 5\25 {
			width: 720px;
		}

		.container.\35 0\25 {
			width: 480px;
		}

		.container.\32 5\25 {
			width: 240px;
		}

		.container {
			width: 960px;
		}

	}

	@media screen and (max-width: 980px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 {
			width: 71.25%;
		}

		.container.\35 0\25 {
			width: 47.5%;
		}

		.container.\32 5\25 {
			width: 23.75%;
		}

		.container {
			width: 95%;
		}

	}

	@media screen and (max-width: 840px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 {
			width: 71.25%;
		}

		.container.\35 0\25 {
			width: 47.5%;
		}

		.container.\32 5\25 {
			width: 23.75%;
		}

		.container {
			width: 95% !important;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 60px 0 0 60px;
	}

	.row {
		margin: -60px 0 -1px -60px;
	}

	.row.uniform > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform {
		margin: -60px 0 -1px -60px;
	}

	.row.\32 00\25 > * {
		padding: 120px 0 0 120px;
	}

	.row.\32 00\25 {
		margin: -120px 0 -1px -120px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 120px 0 0 120px;
	}

	.row.uniform.\32 00\25 {
		margin: -120px 0 -1px -120px;
	}

	.row.\31 50\25 > * {
		padding: 90px 0 0 90px;
	}

	.row.\31 50\25 {
		margin: -90px 0 -1px -90px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 90px 0 0 90px;
	}

	.row.uniform.\31 50\25 {
		margin: -90px 0 -1px -90px;
	}

	.row.\35 0\25 > * {
		padding: 30px 0 0 30px;
	}

	.row.\35 0\25 {
		margin: -30px 0 -1px -30px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 30px 0 0 30px;
	}

	.row.uniform.\35 0\25 {
		margin: -30px 0 -1px -30px;
	}

	.row.\32 5\25 > * {
		padding: 15px 0 0 15px;
	}

	.row.\32 5\25 {
		margin: -15px 0 -1px -15px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 15px 0 0 15px;
	}

	.row.uniform.\32 5\25 {
		margin: -15px 0 -1px -15px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1680px) {

		.row > * {
			padding: 50px 0 0 50px;
		}

		.row {
			margin: -50px 0 -1px -50px;
		}

		.row.uniform > * {
			padding: 50px 0 0 50px;
		}

		.row.uniform {
			margin: -50px 0 -1px -50px;
		}

		.row.\32 00\25 > * {
			padding: 100px 0 0 100px;
		}

		.row.\32 00\25 {
			margin: -100px 0 -1px -100px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 100px 0 0 100px;
		}

		.row.uniform.\32 00\25 {
			margin: -100px 0 -1px -100px;
		}

		.row.\31 50\25 > * {
			padding: 75px 0 0 75px;
		}

		.row.\31 50\25 {
			margin: -75px 0 -1px -75px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 75px 0 0 75px;
		}

		.row.uniform.\31 50\25 {
			margin: -75px 0 -1px -75px;
		}

		.row.\35 0\25 > * {
			padding: 25px 0 0 25px;
		}

		.row.\35 0\25 {
			margin: -25px 0 -1px -25px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 25px 0 0 25px;
		}

		.row.uniform.\35 0\25 {
			margin: -25px 0 -1px -25px;
		}

		.row.\32 5\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.\32 5\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.uniform.\32 5\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.\31 2u\28wide\29, .\31 2u\24\28wide\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28wide\29, .\31 1u\24\28wide\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28wide\29, .\31 0u\24\28wide\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28wide\29, .\39 u\24\28wide\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28wide\29, .\38 u\24\28wide\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28wide\29, .\37 u\24\28wide\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28wide\29, .\36 u\24\28wide\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28wide\29, .\35 u\24\28wide\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28wide\29, .\34 u\24\28wide\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28wide\29, .\33 u\24\28wide\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28wide\29, .\32 u\24\28wide\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28wide\29, .\31 u\24\28wide\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28wide\29 + *,
		.\31 1u\24\28wide\29 + *,
		.\31 0u\24\28wide\29 + *,
		.\39 u\24\28wide\29 + *,
		.\38 u\24\28wide\29 + *,
		.\37 u\24\28wide\29 + *,
		.\36 u\24\28wide\29 + *,
		.\35 u\24\28wide\29 + *,
		.\34 u\24\28wide\29 + *,
		.\33 u\24\28wide\29 + *,
		.\32 u\24\28wide\29 + *,
		.\31 u\24\28wide\29 + * {
			clear: left;
		}

		.\-11u\28wide\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28wide\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28wide\29 {
			margin-left: 75%;
		}

		.\-8u\28wide\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28wide\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28wide\29 {
			margin-left: 50%;
		}

		.\-5u\28wide\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28wide\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28wide\29 {
			margin-left: 25%;
		}

		.\-2u\28wide\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28wide\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 40px 0 0 40px;
		}

		.row {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform {
			margin: -40px 0 -1px -40px;
		}

		.row.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.uniform.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.\31 2u\28normal\29, .\31 2u\24\28normal\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28normal\29, .\31 1u\24\28normal\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28normal\29, .\31 0u\24\28normal\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28normal\29, .\39 u\24\28normal\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28normal\29, .\38 u\24\28normal\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28normal\29, .\37 u\24\28normal\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28normal\29, .\36 u\24\28normal\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28normal\29, .\35 u\24\28normal\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28normal\29, .\34 u\24\28normal\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28normal\29, .\33 u\24\28normal\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28normal\29, .\32 u\24\28normal\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28normal\29, .\31 u\24\28normal\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28normal\29 + *,
		.\31 1u\24\28normal\29 + *,
		.\31 0u\24\28normal\29 + *,
		.\39 u\24\28normal\29 + *,
		.\38 u\24\28normal\29 + *,
		.\37 u\24\28normal\29 + *,
		.\36 u\24\28normal\29 + *,
		.\35 u\24\28normal\29 + *,
		.\34 u\24\28normal\29 + *,
		.\33 u\24\28normal\29 + *,
		.\32 u\24\28normal\29 + *,
		.\31 u\24\28normal\29 + * {
			clear: left;
		}

		.\-11u\28normal\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28normal\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28normal\29 {
			margin-left: 75%;
		}

		.\-8u\28normal\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28normal\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28normal\29 {
			margin-left: 50%;
		}

		.\-5u\28normal\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28normal\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28normal\29 {
			margin-left: 25%;
		}

		.\-2u\28normal\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28normal\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 980px) {

		.row > * {
			padding: 30px 0 0 30px;
		}

		.row {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform {
			margin: -30px 0 -1px -30px;
		}

		.row.\32 00\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\32 00\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\32 00\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\31 50\25 > * {
			padding: 45px 0 0 45px;
		}

		.row.\31 50\25 {
			margin: -45px 0 -1px -45px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 45px 0 0 45px;
		}

		.row.uniform.\31 50\25 {
			margin: -45px 0 -1px -45px;
		}

		.row.\35 0\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.\35 0\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.uniform.\35 0\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.\32 5\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.\32 5\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.uniform.\32 5\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrow\29, .\39 u\24\28narrow\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrow\29, .\38 u\24\28narrow\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrow\29, .\37 u\24\28narrow\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrow\29, .\36 u\24\28narrow\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrow\29, .\35 u\24\28narrow\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrow\29, .\34 u\24\28narrow\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrow\29, .\33 u\24\28narrow\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrow\29, .\32 u\24\28narrow\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrow\29, .\31 u\24\28narrow\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrow\29 + *,
		.\31 1u\24\28narrow\29 + *,
		.\31 0u\24\28narrow\29 + *,
		.\39 u\24\28narrow\29 + *,
		.\38 u\24\28narrow\29 + *,
		.\37 u\24\28narrow\29 + *,
		.\36 u\24\28narrow\29 + *,
		.\35 u\24\28narrow\29 + *,
		.\34 u\24\28narrow\29 + *,
		.\33 u\24\28narrow\29 + *,
		.\32 u\24\28narrow\29 + *,
		.\31 u\24\28narrow\29 + * {
			clear: left;
		}

		.\-11u\28narrow\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrow\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrow\29 {
			margin-left: 75%;
		}

		.\-8u\28narrow\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrow\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrow\29 {
			margin-left: 50%;
		}

		.\-5u\28narrow\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrow\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrow\29 {
			margin-left: 25%;
		}

		.\-2u\28narrow\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrow\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 840px) {

		.row > * {
			padding: 30px 0 0 30px;
		}

		.row {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform {
			margin: -30px 0 -1px -30px;
		}

		.row.\32 00\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\32 00\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\32 00\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\31 50\25 > * {
			padding: 45px 0 0 45px;
		}

		.row.\31 50\25 {
			margin: -45px 0 -1px -45px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 45px 0 0 45px;
		}

		.row.uniform.\31 50\25 {
			margin: -45px 0 -1px -45px;
		}

		.row.\35 0\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.\35 0\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.uniform.\35 0\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.\32 5\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.\32 5\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.uniform.\32 5\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrower\29, .\39 u\24\28narrower\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrower\29, .\38 u\24\28narrower\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrower\29, .\37 u\24\28narrower\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrower\29, .\36 u\24\28narrower\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrower\29, .\35 u\24\28narrower\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrower\29, .\34 u\24\28narrower\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrower\29, .\33 u\24\28narrower\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrower\29, .\32 u\24\28narrower\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrower\29, .\31 u\24\28narrower\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrower\29 + *,
		.\31 1u\24\28narrower\29 + *,
		.\31 0u\24\28narrower\29 + *,
		.\39 u\24\28narrower\29 + *,
		.\38 u\24\28narrower\29 + *,
		.\37 u\24\28narrower\29 + *,
		.\36 u\24\28narrower\29 + *,
		.\35 u\24\28narrower\29 + *,
		.\34 u\24\28narrower\29 + *,
		.\33 u\24\28narrower\29 + *,
		.\32 u\24\28narrower\29 + *,
		.\31 u\24\28narrower\29 + * {
			clear: left;
		}

		.\-11u\28narrower\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrower\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrower\29 {
			margin-left: 75%;
		}

		.\-8u\28narrower\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrower\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrower\29 {
			margin-left: 50%;
		}

		.\-5u\28narrower\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrower\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrower\29 {
			margin-left: 25%;
		}

		.\-2u\28narrower\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrower\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 20px 0 0 20px;
		}

		.row {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		background: #f5f7fa;
		line-height: 1.70em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color: #656b74;
		font-size: 16pt;
	}

	input, textarea, select {
		line-height: 1.70em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		color: #656b74;
		font-size: 16pt;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		color: #313a45;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

	h2 {
		font-size: 1.5em;
		margin: 0 0 1.5em 0;
	}

	h3 {
		font-size: 1.1em;
		margin: 0 0 0.5em 0;
	}

	a {
		color: #3B7DBC;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Articles */

	section, article {
		margin-bottom: 3em;
	}

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

/* Images */

	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* Lists */

	ul.style1 {
		margin: 0;
		padding: 0em 0em 0em 0em;
		overflow: hidden;
		list-style: none;
	}

		ul.style1 li {
			overflow: hidden;
			display: block;
			padding: 1.5em 0em 1.8em 0em;
			border-style: solid;
			border-color: #555;
			border-color: rgba(255, 255, 255, 0.1);
			border-top-width: 2px;
			font-weight: 300;
		}

			ul.style1 li:first-child {
				padding-top: 0;
				border-top: none;
			}

		ul.style1 .image {
			position: relative;
			overflow: hidden;
			border-radius: 50%;
		}

	ul.style2 li {
		padding-top: 0.70em;
	}

		ul.style2 li:first-child {
			padding-top: 0;
		}

	ul.style2 a {
		text-decoration: underline;
		color: #8e9399;
	}

		ul.style2 a:hover {
			text-decoration: none;
		}

	ul.icons > li {
		cursor: default;
		display: block;
		position: relative;
		padding: 16px 0 0 80px;
		min-height: 48px;
		margin-top: 1.75em;
	}

		ul.icons > li:first-child {
			margin-top: 0;
		}

	ul.icons li a, ul.icons li span {
		display: block;
		text-decoration: none;
		color: #333d47;
	}

	ul.icons > li:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		background: #343e49;
		color: #FFF;
		border-radius: 100%;
		text-align: center;
		font-size: 22px;
		width: 64px;
		height: 64px;
		line-height: 64px;
	}

	ul.icons > li.fa-twitter:before {
		background: #389ebc;
	}

	ul.icons > li.fa-facebook:before {
		background: #3876bc;
	}

	ul.icons > li.fa-linkedin:before {
		background: #007BB6;
	}

	ul.actions > li {
		display: inline-block;
		margin-left: 1em;
	}

		ul.actions > li:first-child {
			margin-left: 0;
		}

	ul.pennants {
		margin: 0;
		text-align: center;
	}

		ul.pennants li {
			display: inline-block;
			width: 15em;
			padding: 1em;
			vertical-align: top;
		}

/* Forms */

	form input, form select, form textarea {
		-webkit-appearance: none;
	}

	form input[type=text],
	form input[type=password],
	form select,
	form textarea {
		-moz-transition: background-color 0.25s ease-in-out, border .25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out, border .25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out, border .25s ease-in-out;
		transition: background-color 0.25s ease-in-out, border .25s ease-in-out;
		
    -webkit-appearance: none;
		position: relative;
		width: 100%;
		border: 0 solid #ccc;
		padding: 0.70em;
		border-radius: 0.5em;
		background: #f5f7fa;
		outline: none;
	}

		form input[type=text]:focus,
		form input[type=password]:focus,
		form select:focus,
		form textarea:focus {
			background: #f0f2f5;
      border-bottom: 1px solid #ccc;
		}

	form textarea {
		height: 12em;
	}

	form .formerize-placeholder {
		color: #93989f !important;
	}

	form ::-webkit-input-placeholder {
		color: #93989f !important;
	}

	form :-moz-placeholder {
		color: #93989f !important;
	}

	form ::-moz-placeholder {
		color: #93989f !important;
	}

	form :-ms-input-placeholder {
		color: #93989f !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

/* Tables */

	table {
		width: 100%;
	}

		table.style1 {
			width: 100%;
		}

			table.style1 tbody tr:nth-child(2n+2) {
				background: #f4f4f4;
			}

			table.style1 td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.style1 th {
				text-align: left;
				font-weight: 600;
				padding: 0.5em 1em 0.5em 1em;
			}

			table.style1 thead {
				background: #444;
				color: #fff;
			}

			table.style1 tfoot {
				background: #eee;
			}

/* Buttons */

	.button {
		-moz-transition: border-color .25s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
		-webkit-transition: border-color .25s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
		-ms-transition: border-color .25s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
		transition: border-color .25s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
		position: relative;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
		border: 0;
		border-radius: 0.5em;
		background: #FFF;
		color: #343e49 !important;
		outline: 0;
		line-height: 3em;
		text-align: center;
		font-weight: 600;
		padding: 0em 1.5em;
		border: solid 2px #ffffff;
	}

		.button.small {
			letter-spacing: -0.04em;
			font-size: 0.8em;
		}

		.button.big {
			letter-spacing: -0.04em;
			font-size: 1.25em;
		}

		.button:hover {
			background: rgba(255, 255, 255, 0.15);
			border-color: rgba(255, 255, 255, 0.35);
			color: #fff !important;
		}

		.button:active {
			background: #f6f4f4;
		}

		.button.alt {
			border-color: #343E49;
			background: #343E49;
			color: #FFF !important;
		}

			.button.alt:hover {
				border-color: #444E59;
				background: #444E59;
			}

			.button.alt:active {
				background: #242E39;
				border-color: #242E39;
			}

		.button.alt2 {
			border-color: #3B7DBC;
			background: #3B7DBC;
			color: #FFF !important;
		}

			.button.alt2:hover {
				border-color: #4B8DCC;
				background: #4B8DCC;
			}

			.button.alt2:active {
				background: #2489a8;
				border-color: #2489a8;
			}

/* Main Title Heading */

	.title-heading {
		position: relative;
		margin: 2em 0;
	}

		.title-heading h2 {
			color: #FFF;
			font-size: 2em;
			margin: 0;
		}

		.title-heading p {
			position: absolute;
			right: 0;
			top: 0;
			color: #FFF;
			font-size: 1.25em;
		}

/* Header */

	header p {
		position: relative;
		top: -1.75em;
	}

/* Footer */

	footer {
		margin: 2em 0 0 0;
	}

/* Page Center Title */

	.title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

		.title span {
			position: relative;
			display: inline-block;
			background: #3B7DBC;
			background-attachment: fixed;
			background-image: url("images/bg.svg");
			background-position: center center;
			background-repeat: repeat;
			border-radius: 0 0 0.5em 0.5em;
			font-weight: 600;
			font-size: 1.25em;
			color: #FFF;
			padding: 0.5em 2em 1em 2em;
		}

/* Pennant */

	.pennant {
		-moz-transition: background-color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out;
		position: relative;
		display: inline-block;
		margin-bottom: 2em;
		width: 10em;
		height: 10em;
		line-height: 9.75em;
		border: solid 2px rgba(255, 255, 255, 0.35);
		border-radius: 100%;
		background-color: none;
	}

		.pennant:hover {
			background-color: rgba(255, 255, 255, 0.15);
		}

		.pennant span {
			height: 5em;
			display: inline-block;
			vertical-align: middle;
		}

			.pennant span:before {
				display: block;
				color: #fff;
				font-size: 108px;
			}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

/* Wrappers */

	#header-wrapper {
		background: #ffffff;
		position: fixed;
		z-index: 10000;
		width: 100%;
		top: 0;
		left: 0;
		box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.15);
	}

	#banner-wrapper {
		color: #eee;
		color: rgba(255, 255, 255, 0.75);
	}

		#banner-wrapper h2, #banner-wrapper h3 {
			color: #fff;
		}

	#main-wrapper {
		position: relative;
		background: #3B7DBC;
		background-attachment: fixed;
		background-image: url("images/bg.svg");
		background-position: center center;
		background-repeat: repeat;
		overflow: hidden;
		padding: 4em 0 3em 0;
	}

	.homepage #main-wrapper {
		position: relative;
		padding: 10em 0 7em;
	}

		.homepage #main-wrapper:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url("images/highlight.png") no-repeat center center;
			background-size: 100% 100%;
		}

	#footer-wrapper {
		position: relative;
		background: #FFF;
		padding: 8em 0 4em 0;
	}

	#featured-wrapper {
		position: relative;
		background: #343e49;
		padding: 8em 0 4em 0;
		color: #eee;
		color: rgba(255, 255, 255, 0.75);
	}

		#featured-wrapper h2, #featured-wrapper h3 {
			color: #fff;
		}

/* Header */

	#header {
		position: relative;
		height: 3em;
		line-height: 3em;
	}

		#header h1 {
			font-size: 1.25em;
			color: #343e49;
			margin: 0;
		}

			#header h1 a {
				text-decoration: none;
				font-weight: 900;
				color: #343e49;
			}

/* Nav */

	#nav {
		position: absolute;
		right: 0;
		top: 0;
		line-height: 3em;
		height: 3em;
	}

		#nav > ul {
			margin: 0;
		}

			#nav > ul > li {
				display: inline-block;
				margin-left: 1.5em;
			}

				#nav > ul > li:first-child {
					margin-left: 0;
				}

				#nav > ul > li > a, #nav > ul > li > span {
					display: block;
					color: #343e49;
					text-decoration: none;
					font-weight: 300;
					outline: 0;
					font-size: 0.9em;
				}

				#nav > ul > li > ul {
					display: none;
				}

	.dropotron {
		text-align: left;
		line-height: 2em;
		min-width: 12em;
		background: #fff;
		box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.15);
		line-height: 1em;
		padding: 0.85em 0 0.85em 0;
		border-radius: 0.5em;
	}

		.dropotron a, .dropotron span {
			-moz-transition: color 0.25s ease-in-out;
			-webkit-transition: color 0.25s ease-in-out;
			-ms-transition: color 0.25s ease-in-out;
			transition: color 0.25s ease-in-out;
			display: block;
			padding: 0.5em 1.5em 0.5em 1.5em;
			font-size: 0.90em;
			text-decoration: none;
			color: inherit;
		}

		.dropotron li.active > a, .dropotron li.active > span {
			color: #3B7DBC;
		}

		.dropotron li:hover > a, .dropotron li:hover > span {
			color: #3B7DBC;
		}

		.dropotron.level-0 {
			font-size: 0.9em;
			border-radius: 0 0 0.5em 0.5em;
			box-shadow: 0 0.15em 0.15em 0 rgba(0, 0, 0, 0.15);
			margin: -0.1em 0 0 -1.1em;
		}

/* Main */

	#main {
		position: relative;
		background: #FFF;
		border-radius: 0.5em;
		padding: 4em 2.5em 4em 2.5em;
	}

/* Banner */

	#banner {
		text-align: center;
	}

		#banner .major h2 {
			font-size: 3.5em;
			line-height: 1em;
			margin-bottom: 0.75em;
		}

		#banner .major p {
			top: -1em;
			font-size: 1.5em;
		}

		#banner section {
			margin: 0;
		}

/* Footer */

	#footer .title {
		text-align: center;
	}

	.homepage #footer .title span {
		background: #343e49;
	}

/* Copyright */

	#copyright {
		position: relative;
		text-align: center;
		color: #a1a6ac;
		padding: 2em 0em 2em 0em;
	}

		#copyright span {
			color: #a1a6ac;
		}

/* Featured */

	#featured .title {
		text-align: center;
	}

		#featured .title span {
			background: #3B7DBC;
			background-attachment: fixed;
			background-image: url("images/bg.svg");
			background-position: center center;
			background-repeat: repeat;
		}

	#featured header .byline {
		display: block;
	}

	#featured p {
		line-height: 1.8em;
	}

/* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 14pt;
			}

		/* Pennant */

			.pennant span:before {
				font-size: 96px;
			}

		/* Wrappers */

			#main-wrapper {
				padding: 4em 0 3em 0;
			}

			.homepage #main-wrapper {
				padding: 8em 0 5em;
			}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 13pt;
			}

		/* Pennant */

			.pennant span:before {
				font-size: 84px;
			}

		/* Lists */

			ul.pennants li {
				width: 48%;
				max-width: 100%;
				padding: 1em 2em;
			}

	}

/* Narrow */

	@media screen and (max-width: 980px) {

		/* Lists */

			ul.icons > li {
				padding: 8px 0 0 64px;
			}

				ul.icons > li:before {
					font-size: 16px;
					width: 48px;
					height: 48px;
					line-height: 48px;
				}

				ul.icons > li:nth-last-child(1), ul.icons > li:nth-last-child(2) {
					margin-bottom: 0;
				}

	}

/* Narrower */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 840px) {

			html, body {
				overflow-x: hidden;
			}

		/* Lists */

			ul.style1 {
				text-align: center;
				margin: 0;
			}

				ul.style1 > li {
					display: inline-block;
					text-align: center;
					border-top-width: 0;
					border-left-width: 2px;
					padding: 0 1.5em;
					vertical-align: top;
				}

				ul.style1.four > li {
					width: 23%;
				}

				ul.style1.three > li {
					width: 32%;
				}

				ul.style1.two > li {
					width: 48%;
				}

				ul.style1 > li:first-child {
					border-left-width: 0;
				}

				ul.style1 > li .image {
					max-width: 10em;
					margin: 0 auto;
				}

			ul.icons > li {
				display: inline-block;
				width: 48%;
				margin: 0 0 2em 0;
				vertical-align: top;
			}

				ul.icons > li:nth-last-child(1), ul.icons > li:nth-last-child(2) {
					margin-bottom: 0;
				}

		/* Wrappers */

			#header-wrapper {
				display: none;
			}

			#main-wrapper {
				padding: 1em 0 3em 0;
			}

			.homepage #main-wrapper {
				padding: 5em 0;
			}

		/* Featured */

			#featured ul.style1 {
				margin-top: 3em;
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-top: 44px;
				padding-bottom: 1px;
			}

			#titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
				background: #FFF;
				box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.15);
			}

				#titleBar .title {
					display: block;
					text-align: center;
					line-height: 44px;
					font-size: 1.10em;
					font-weight: 900;
					color: #343e49;
				}

				#titleBar .toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 80px;
					height: 60px;
					z-index: 1;
				}

					#titleBar .toggle:after {
						content: '';
						display: block;
						width: 20px;
						height: 12px;
						position: absolute;
						left: 10px;
						top: 15px;
						background: url("images/toggle.svg") 0px 0px no-repeat;
						opacity: 0.6;
					}

					#titleBar .toggle:active:after {
						opacity: 0.75;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #242E39;
			}

				#navPanel .link {
					display: block;
					color: #888;
					color: rgba(255, 255, 255, 0.75);
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border-top: solid 1px rgba(255, 255, 255, 0.05);
					padding: 0 1em 0 1em;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

					#navPanel .link.depth-0 {
						color: #fff;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 12pt;
				text-align: justify;
			}

			h2 {
				font-size: 1.25em;
				margin: 0 0 1.5em 0;
			}

			h3 {
				font-size: 1em;
				margin: 0 0 0.5em 0;
			}

		/* Buttons */

			.button {
				line-height: 2.5em;
				display: block;
				width: 100%;
				padding: 0em 1.5em;
				font-size: 1em !important;
				letter-spacing: 0 !important;
			}

		/* Lists */

			ul.style1 > li {
				width: 100% !important;
				border-left-width: 0;
				border-top-width: 2px;
				padding: 2em 0 0 0;
				margin: 1em 0 0 0;
			}

				ul.style1 > li:first-child {
					border-top-width: 0;
					padding-top: 0;
					margin-top: 0;
				}

			ul.icons > li {
				display: block;
				width: 100%;
				margin: 1em 0 0 0 !important;
			}

			ul.pennants li {
				width: 100%;
				padding: 0.5em 0;
			}

			ul.actions {
				text-align: center;
			}

				ul.actions li {
					display: block;
					margin: 1em 0 0 0;
				}

					ul.actions li:first-child {
						margin-top: 0;
					}

		/* Main Title Heading */

			.title-heading {
				margin: 1.5em 0 1em 0;
				text-align: center;
			}

				.title-heading h2 {
					font-size: 1.5em;
				}

				.title-heading p {
					position: relative;
					font-size: 1em;
				}

		/* Wrappers */

			#main-wrapper {
				padding: 0 0 2em 0;
			}

			.homepage #main-wrapper {
				padding: 2.5em 20px 2.5em 20px;
			}

			#footer-wrapper {
				padding: 6em 20px 2em 20px;
			}

			#featured-wrapper {
				padding: 6em 20px 2em 20px;
			}

		/* Banner */

			#banner .major h2 {
				font-size: 2.5em;
				line-height: 1.1em;
				margin-bottom: 1em;
			}

			#banner .major p {
				top: -1em;
				font-size: 1.25em;
				margin: 0;
			}

		/* Main */

			#main {
				border-radius: 0;
				padding: 2em 20px;
			}

		/* Copyright */

			#copyright {
				padding: 2em 0em;
			}

	}
